
body {
    margin: 0;
    font-size: 16px; /* Adjust font size for smaller screens */
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: sticky;
    background-color: #9F7163;
    padding: 23px;
    text-align: center;
}

.nav-logo{
    margin: 18px 0 0 0;
}

.navbar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    height: 175px;
}

.navbar ul {
    list-style: none;
    display: flex;
    
}

.navbar a {
    color: #D0BAA8;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
}

.navbar a:hover {
    color: #9F7163;
}

.navbar a.active {
    color: #9F7163;
}

.split {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.container{
    background-color: #D0BAA8;
    padding: 180px;
    text-align: center;
}

.logo{
    float: left;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    
    .navbar {
        flex-direction: column; ; /* Stack items vertically on smaller screens */
        height: 175px; /* Allow height to adjust based on content */
    }

    .navbar ul {
        list-style: none;
        padding: 0;
        
    }

    .navbar a {
        padding: 10px; /* Adjust padding for smaller touch targets */
    }
}
