/*Background*/
.subscribe-div {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: auto; 
    position: relative; 
    justify-content: center; 
    align-items: center; 
}

.subscribe-sec {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    
}

.ss-one {
    background-color: var(--white-color); 
    height: 48px; 
}

.ss-two {
    background-color: var(--background-color); 
    height: 217px; 
    position: relative; 
}

.ss-three {
    background-color: var(--white-color); 
    height: 210px; 
}

/*Content*/

/*Container*/
.subs-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 0; 
    margin: 0; 
}

/*Image with caption*/
.woman-model {
    margin-top: 165px;
}

.woman-model p{
    font-family: var( --ProximaNova-Regular);
    color: var(--text-color);
    font-size: 10.08pt;
    margin-left: 10px;
}

.woman-model img {
    width: 375px;
    height: 253px;
}

/*Form*/
.form-container {
    margin-top: 130px;
    
}

.subs-form {
    width: 328px;
    height: 301px;
    margin: 140px 0 0 60px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: 1px 0 1px 1px rgb(0.1, 0.1, 0.1, 0.1);
}

.subs-form p {
    width: 250px;
    font-family: var(--ProximaNova-Regular);
    color: var(--text-color);
    text-align: center; 
    margin: 50px 0 20px;
    text-align: left;
    font-size: 9.70pt;
}

.form-input {
    background-color: var(--input-color);
    font-size: 8.95pt;
    color: var(--white-color);
    width: 240px; 
    height: 47px;
    border: none;
    padding: 0 0 0 10px;
    margin-bottom: 20px; 
    outline: none;
}

.form-input::placeholder { 
    color: var(--white-color);
}

.form-button {
    background-color: var(--button-color);
    font-size: 11.13pt;
    color: var(--white-color);
    width: 250px;
    height: 47px;
    border: none;
}



@media only screen and (max-width: 768px) {

    .ss-two {
        height: 220px; 
    }

    .ss-three {
        height: 610px; 
    }

    .woman-model {
        margin: 510px 0 0 5px;
    }

    .subs-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        
    }

    .form-container {
        margin-top: 140px;
    }

    .subs-form {
        width: 328px;
        height: 301px;
        margin: -100px 0 0 28px;
    }


  }

  @media only screen and (max-width: 390px) {

    .ss-two {
        height: 210px; 
    }

    .woman-model {
        margin: 525px 0 0 -1px;
    }

    .woman-model p {
        font-size: 9.5pt;
    }

    .woman-model img {
        width: 350px;
        height: 228px;
    }

    .form-container {
        margin-top: 140px;
    }

    .subs-form {
        width: 328px;
        height: 301px;
        margin: -100px 0 0 10px;
    }

  }




