.add-info{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.add-info-content{
    list-style: none;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;
    padding: 0;
    
    width: 700px;
}

.info-image img{
    width: 335px;
    height: 223px;
}

.more-info{
    margin-top: 15px;
    
}

.more-info h2 {
    font-family: var(--ProximaNova-Regular);
    color: var(--button-color);
    font-size: 10.12pt;
    text-align: center;
    
}

.more-info p{
    margin-top: 25px;
    font-family: var(--ProximaNova-Regular);
    color: var(--button-color);
    font-size: 10.08pt;
    text-align: center;
}

@media only screen and (max-width: 768px) {
   
    .add-info-content{
         
        grid-template-columns: repeat(1, 1fr); 
        
    }
    
}

@media only screen and (max-width: 480px) {
   
}

@media only screen and (max-width: 320px) {
    
}