
body {
    margin: 0;
    font-size: 16px; /* Adjust font size for smaller screens */
    font-family: Arial, Helvetica, sans-serif;
}

/*header and navbar*/
.header {
    
    background-color: #9F7163;
    height: 34px;
    text-align: center;
    
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #fff;
    height: 123px;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.navbar a {
    justify-content: center;
    color: #D0BAA8;
    text-decoration: none;
    padding: 17px;
    font-size: 1rem;
}

.navbar a:hover {
    color: #9F7163;
}

.navbar a.active {
    color: #9F7163;
}

/*about*/

.top-split {
    background-color: #fff;
    height: 52px;
}

.bg-container{
    background-color: #D0BAA8;
    height: 220px;
    text-align: center;
} 

.bottom-split {
    background-color: #fff;
    height: 350px;
}

.prod {
    
    background-color: #fff;
    height: 33px;
    text-align: center;
    
}

.prod-lbl{
    font-size: 30px;
    color: #9F7163;

}

.products {
    background-color: #fff;
    height: 900px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column; 
        align-items: center;
        height: 175px; /* Allow height to adjust based on content */
    }
    .navbar ul {
        list-style: none;
        padding: 0;
    }
    .navbar a {
        padding: 10px; /* Adjust padding for smaller touch targets */
        font-size: 15px;
    }
    .nav-logo{
        width: 100px;
    }
}

