:root{
    --primary-color: #9F7163;
    --font-family: 'Proxima Nova Rg', Arial, sans-serif;
}


body {
    margin: 0;
    font-size: 16px; /* Adjust font size for smaller screens */
    
}

/*header and navbar*/
.header {
    
    background-color: #9F7163;
    height: 34px;
    text-align: center;
    
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #fff;
    height: 124px;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.navbar a {
    justify-content: center;
    color: #D0BAA8;
    text-decoration: none;
    padding: 17px;
    font-size: 1rem;
    font-family: var(--font-family)
    
}

.navbar a:hover {
    color: #9F7163;
}

.navbar a.active {
    color: #9F7163;
}

/*about*/

.top-split {
    background-color: #fff;
    height: 52px;
}

.bg-container{
    background-color: #D0BAA8;
    height: 220px;
    text-align: center;
} 

.bottom-split {
    background-color: #fff;
    height: 350px;
}

/*.prod-lbl{
    
    text-align: center;
    font-size: 30px;
    color: #9F7163;
    font-family: var(--font-family)
}

.products {
    background-color: #fff;
    height: 900px;
}

.prod-ovr {
    list-style: none;
    font-family: var(--font-family);
    color: var(--primary-color);
}
*/

.products {
    background-color: #fff;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}

.prod-lbl h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: #9F7163;
    font-family: var(--font-family) 
}

.prod-ovr {
    font-family: var(--font-family);
    color: var(--primary-color);
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    width: 100%; 
    max-width: 1200px; 
}

.prod-ovr li {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.prod-ovr li img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}

.prod-ovr h1 {
    font-size: 1.2rem; 
    margin-top: 10px; 
}

.browse-btn{
    margin-top: 50px;
    border: none;
    height: 32px;
    width: 180px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1rem;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .prod-ovr {
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (max-width: 480px) {
    .prod-ovr {
        grid-template-columns: 1fr; 
    }
}


@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column; 
        align-items: center;
        height: 175px; 
    }
    .navbar ul {
        list-style: none;
        padding: 0;
    }
    .navbar a {
        padding: 10px; 
        font-size: 15px;
    }
    .nav-logo{
        width: 100px;
    }
}

