:root{
    --primary-color: #9F7163;
    --secondary-color: #dab6a9;
    --font-family: 'Proxima Nova Rg', Arial, sans-serif;
}


body {
    margin: 0;
    
}

/*header and navbar*/
.header {
    
    background-color: #9F7163;
    height: 34px;
    text-align: center;
    
}

.navbar {
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: #fff;
    height: 124px;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.navbar a {
    justify-content: center;
    color: #D0BAA8;
    text-decoration: none;
    padding: 17px;
    font-size: 1.4rem;
    font-family: var(--font-family)
    
}

.navbar a:hover {
    color: #9F7163;
}

.navbar a.active {
    color: #9F7163;
}

/*about*/



.three-color-div {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: auto; 
    position: relative; /* Enable absolute positioning for the image */
}

.color-section {
    width: 100%; /* Full width for each section */
}

.one {
    background-color: #fff; 
    height: 100px; /* Custom height for this section */
}

.two {
    background-color: var(--primary-color); 
    height: 390px; /* Different height for this section */
}

.three {
    background-color: #fff; 
    height: 350px; /* Different height for this section */
}

/* Styles for the image */
.overlay-element {
    position: absolute; /* Position it absolutely */
    top: 0; /* Adjust this to move the image vertically */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Center it properly */
    z-index: 1; /* Ensure it appears above the color sections */
    max-width: 100%; /* Responsive size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 215px;
     
    
}

.overlay-element p {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--primary-color);
    text-align: justify;
    width: 675px;
    margin-top: 40px;
    
}

.overlay-element ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.overlay-element li {
    margin-bottom: 20px; /* Space between list items */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items in a column */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text for better readability */
}




.form {
    background-size: cover; /* Scale the image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; 
    align-items: center; 
    width: 675px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.form p{
    width: 470px;
    font-size: 1.5rem;
    text-align: justify;
}

.form-input, .form-button {
    height: 80px; 
    width: 470px; 
    margin: 15px ; 
    padding: 0 10px; 
    box-sizing: border-box; 
    font-family: var(--font-family);
}

.form-input{
    border: none; 
    background-color: var(--secondary-color);
    font-size: 1.4rem;
}

.form-button {
    cursor: pointer; 
    background-color: var(--primary-color); 
    color: white; 
    font-size: 2rem;
    border: none; 
}



.content-col{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 150px; 
    justify-items: center; 
    width: 100%; 
    max-width: 1500px; 
}

.content-col .form{
    margin-top: 200px;
}


.products {
    background-color: #fff;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}

.prod-lbl h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: #9F7163;
    font-family: var(--font-family) 
}

.prod-ovr {
    font-family: var(--font-family);
    color: var(--primary-color);
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    width: 100%; 
    max-width: 1400px; 
}

.prod-ovr li {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.prod-ovr li img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}

.prod-ovr h1 {
    font-size: 1.4rem; 
    margin-top: 10px; 
}

.browse-btn{
    margin-top: 50px;
    border: none;
    height: 32px;
    width: 180px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1rem;
    color: #fff;
}


@media screen and (max-width: 1280px) {

    .three {
        height: 1200px; /* Different height for this section */
    }
    .content-col{
        grid-template-columns: 1fr; 
    }

    .content-col .form{
        margin-top: -180px;
    }

    .content-col .form{
        margin-top: -10px;
    }
}


@media screen and (max-width: 768px) {

    .three {
        height: 1200px; 
    }
    .content-col{
        grid-template-columns: 1fr; 
    }

    .content-col .form{
        margin-top: -10px;
    }
    
    
    .prod-ovr {
        grid-template-columns: 1fr; 
    }
    .navbar {
        flex-direction: column; 
        align-items: center;
        height: 175px; 
    }
    .navbar ul {
        list-style: none;
        padding: 0;
    }
    .navbar a {
        padding: 10px; 
        font-size: 15px;
    }
    .nav-logo{
        width: 100px;
    }


}

@media screen and (max-width: 480px) {
    .navbar{
        margin-bottom: -100px;
    }
    .prod-ovr {
        grid-template-columns: 1fr; 
    }

   

}




